@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Verdana";
	font-size: 18px;
	box-sizing: border-box;
	background-color: #F4F4F4;
	/* background:
		url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80')
		no-repeat center center fixed;
	background-size: cover; */
}

.button {
	font-family: "Arial";
	font-size: 24px;
	display: inline;
	border: none;
	padding: 0;
	background: none;
}

.button:hover, .table_button:hover {
	color: blue;
	cursor: pointer;
}

.table {
	border: 1px solid;
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}

.receipts_table {
	border: 1px solid;
	border-collapse: collapse;
	width: 85%;
	margin: 0 auto;
}

.user_table {
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

.td {
	text-align: center;
	padding: 0 10px;
	border: 1px solid;
	border-collapse: collapse;
}

.th {
	border: 1px solid;
	border-collapse: collapse;
	padding: 0 10px;
}

.service_table {
	border: 1px solid;
	border-collapse: collapse;
	margin: 0 auto;
}

.form {
	width: 200px;
	display: compact;
}

.buttons {
	width: 1px;
}

.filter {
	width: 25%;
}

.content {
	width: 70%;
	background-color: transparent;
}

.page_header {
	width: 100%;
	text-align: center;
	font-size: 65px;
	margin-bottom: 100px;
}

.table_button {
	font-family: "Arial";
	font-size: 24px;
	width: 60%;
	margin: 0 auto;
	border: none;
	padding: 0;
	background: none;
}

input {
	font-size: 24px;
}

.pagination_button {
	display: inline;
	font-size: 24px;
	width: 60px;
	background-color: #5579B4;
	color: white;
	border-radius: 100px;
}

.pagination_button:hover {
	cursor: pointer;
	transition: 0.3s linear;
	background-color: #0A5959;
}

.pagination_block {
	justify-content: center;
	width: 15%;
	margin: 0 auto 100px auto;
}

.service_header {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.service_text {
	font-size: 15px;
}

.profile_container {
	width: 100%;
	display: flex;
}

.center_content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.profile_info {
	width: 100%;
	font-size: 22px;
	text-align: left;
}

.client_receipts {
	width: 70%;
	padding: 0 10%;
}

.pay_button {
	width: 80px;
	font-size: 18px;
	margin: 0 auto;
}

.pay_button:hover {
	cursor:pointer;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.payment_block {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.center_header {
	text-transform: uppercase;
	font-size: 46px;
	text-align: center;
	margin: 0 auto;
}

.center_button {
	font-family: "Arial";
	font-size: 24px;
	display: block;
	margin: 0 auto;
}

textarea {
	resize: none;
	font-size: 20px;
	font-family: Arial;
}

.header {
	height: 80px;
	display: flex;
	width: 100%;
	background-color: #5579B4;
	color: white;
	margin: 0;
}

.website_header {
	margin-left: 25%;
	width: 40%;
	font-weight: 600;
	margin-right: 300px;
	display: inline;
}

.bar {
	margin-top: 40px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: inline;
	background-color: #224784;
}

.a {
	text-decoration: none;
	color: white;
	font-family: Verdana;
	font-weight: 600;
	opacity: 89%;
	margin-right: 20px;
}

.a:hover {
	opacity: 100%;
	cursor: pointer;
}

.main_title {
	font-size: 24px;
	text-decoration: none;
	color: white;
	font-family: Verdana;
	font-weight: 600;
}

.main_title:hover {
	cursor: pointer;
}

.filter_wrapper {
	margin: 0 20px 0 20px;
	width: 30%;
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 30px 0 30px 0;
}

.intro_text {
	text-align: justify;
	opacity: 1;
}

.wrapper {
	border: 2px solid white;
	color: black;
	margin: 0 auto;
	width: 50%;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	display: block;
	padding: 30px 50px 50px 50px;
	border-radius: 10px;
}

.receipts_wrapper {
	border: 2px solid white;
	color: black;
	margin: 0 auto;
	width: 80%;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	display: flex;
	padding: 30px 50px 50px 50px;
	border-radius: 10px;
}

.page_content {
	width: 80%;
}

.footer {
	margin-top: 30px;
	display: flex;
	width: 100%;
	color: white;
	background-color: #5579B4;
}

.footer_left_part {
	text-align: center;
	width: 50%;
	margin-left: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #224784;
	border-radius: 10px;
	margin-right: 10px;
}

.footer_right_part {
	background-color: #224784;
	margin-top: 20px;
	text-align: center;
	width: 50%;
	margin-right: 250px;
	margin-bottom: 20px;
	border-radius: 10px;
	margin-left: 10px;
}

.icon {
	width: 200px;
	height: 200px;
	margin: 70px auto 70px auto;
}

.header_text {
	font-weight: 600;
	display: inline;
}

.center_form {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	font-size: 30px;
}

.instruction {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	font-size: 24px;
}

.ref_button {
	font-size: 20px;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	background-color: #5579B4;
	display: inline;
}

.remove_button {
	font-size: 20px;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	background-color: #730D0D;;
	display: inline;
}

.ref_button:hover {
	background-color: #224784;
	cursor: pointer;
}

.limit_width_60 {
	width: 60%;
	padding: 0;
}

.login_wrapper {
	margin: 0 auto;
	width: 35%;
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 30px 0 30px 0;
}

.masters_wrapper {
	margin: 0 auto;
	width: 40%;
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 30px 30px 30px 30px;
	text-align: center;
}

.white_center_header {
	text-align: center;
}

.ceter_text {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	color: black;
}

.form_header {
	font-size: 32px;
	text-align: center;
}

.big_url {
	font-size: 32px;
	text-decoration: none;
}

.logout_button {
	margin-left: 93.7%;
	width: 120px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 1px;
	background-color: #730D0D;
	display: inline;
}

.logout_button:hover, .cancel_button:hover, .remove_button:hover {
	background-color: #DC0303;
	cursor: pointer;
}

.cancel_button {
	width: 120px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 1px;
	background-color: #730D0D;
	display: inline;
}

.header_wrapper {
	background-color: white;
	border-radius: 10px;
	width: 50%;
	margin: 10px auto;
}

.comment_block {
	display: flex;
	width: 100%;
}

.comment_unit {
	width: 50%;
	border-radius: 10px;
	background-color: white;
}

.checkout_bar {
	text-align: right;
}

.profile_wrapper {
	text-align: center; width : 40%;
	border: 2px solid white;
	color: black;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	display: block;
	padding: 30px 50px 50px 50px;
	border-radius: 10px;
	width: 40%;
}

.comment_wrapper {
	color: black;
	margin: 10px auto;
	width: 30%;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	display: block;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.profile_receipts_wrapper {
	border: 2px solid white;
	color: black;
	margin: 0 auto;
	width: 100%;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	display: flex;
	padding: 30px 50px 50px 50px;
	border-radius: 10px;
}